.App {
  text-align: center;
}

.App form {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 40px auto;
}

.App input {
  margin: 10px;
}

.App button {
  width: 100px;
  margin: 10px auto 0;
}

.check {
  display: flex;
  flex-direction: row-reverse;
}

.buttons {
  display: flex;
  flex-direction: row;
}
